.weatherCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0D6EFD;
    width: 350px;
    border-radius: 10px;
    padding: 5px;
}